./webserv
/webserv
webserv

./compile_commands.json
/compile_commands.json
compile_commands.json

./src/*.o
/src/*.o
src/*.o

./compile_flags.txt
/compile_flags.txt
compile_flags.txt

.DS_Store
/.idea
/.vscode
/.zed
Dockerfile